:root {
    --white: #fff;
    --white2: #f1f1f1;
    --gray1: #616161;
    --gray2: #757575;
    --black: #000;
}

body {
    background-color:  var(--gray1);
    font-family: "Raleway", sans-serif;
    color: var(--white);
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 300px;
    background-color: var(--white);
    position: fixed;
    z-index: 3;
    overflow: auto;
    font-weight: bold;
    text-align: center;
    color: var(--gray2)
}

.name {
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 10px 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.sidetags {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    color: var(--gray2);
}

a {
    text-decoration: none;
    
}

a:hover {
    background-color: #ccc;
    color: var(--black);
}

.content {
    margin-left: 300px;

}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white2);
    color: var(--black);
    text-align: center;
    width: 100%;
}

.portfolio img:first-child {
    width: 100%;
}

.portfolio img:nth-child(n+2) {
    width: 50%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.about-me {
    background-color: var(--gray1);
    color: var(--white);
    font-weight: 600;
    text-align: center;
}

.about-me h4 {
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
}

#about-me-pic {
    width: 350px;
    height: 363.917px;
}

.contact-info { 
    background-color: var(--white2);
    color: var(--black);
    text-align: center;
}

.contact-info h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
   
}

.contact-links a {
    color: var(--black);
    font-size: 15px;
}

.contact-info, .portfolio h4 {
    font-size: 20px;
    font-weight: 600;
}

.logos {
    width: 20px;
    height: 20px;
}

.logo-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}