body {
    background-color:  #616161;
    font-family: "Raleway", sans-serif;
    color: #fff;
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 300px;
    background-color:#fff;
    position: fixed;
    z-index: 3;
    overflow: auto;
    font-weight: bold;
    text-align: center;
    color: #757575;
}

.name {
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 10px 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.sidetags {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    color: #757575;
}

a {
    text-decoration: none;
    
}

a:hover {
    background-color: #ccc;
    color: #000;
}

.content {
    margin-left: 300px;

}

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
    background-color: #f1f1f1;
    color: #000;
    text-align: center;
    width: 100%;
}

.portfolio-images {
    width: 100%;
    border: none;
}

#app-1 {
    grid-column-start: span 2;
}

.about-me {
    background-color: #616161;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.about-me h4 {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

#about-me-pic {
    width: 350px;
    height: 363.917px;
}

.contact-info { 
    background-color: #f1f1f1;
    color: #000;
    text-align: center;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
   
}

.contact-links a {
    color: #000;
    font-size: 15px;
}

.contact-info, .portfolio h4 {
    font-size: 20px;
    font-weight: 600;
}

.logos {
    width: 20px;
    height: 20px;
}