:root {
    --white: #fff;
    --white2: #f1f1f1;
    --gray1: #616161;
    --gray2: #757575;
    --black: #000;
}

body {
    background-color:  var(--gray1);
    font-family: "Raleway", sans-serif;
    color: var(--white);
    margin: 0;
}

/*style sidebar and nav menu in sidebar*/

.sidebar {
    height: 100%;
    width: 300px;
    background-color: var(--white);
    position: fixed;
    z-index: 3;
    overflow: auto;
    font-weight: bold;
    text-align: center;
    color: var(--gray2)
}

/*special style rules for name on the sidebar*/

.name {
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 10px 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

/*style links on the sidebar*/

.sidetags {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    color: var(--gray2);
}

/*links shouldn't have an underline*/

a {
    text-decoration: none;
    
}

/*apply hover effect to all links except the portfolio images*/

a:hover {
    background-color: #ccc;
    color: var(--black);
}

/*the container of the body needs to move to the right so that the sidebar doesn't cover it*/

.content {
    margin-left: 300px;

}

/*section for portfolio images and their links*/

.portfolio {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white2);
    color: var(--black);
    text-align: center;
    width: 100%;
}

/*make the first image bigger than the others*/

.portfolio .images:first-child {
    width: 100%;
}

.portfolio .images:nth-child(n+2) {
    width: 50%;
}

.portfolio .images:hover {
    opacity: .5;
}

/*styles to caption each image while maintaining page positioning*/

.portfolio img {
    width: 100%;
    height: 100%;
}

.caption {
    position: relative;
    bottom: 2em;
    left: 1em;
    color: var(--black);
    text-align: center;
    font-weight: 600;
    background-color: #a6c3c3;
    width: 175px;
}
/*about me section styles*/

.about-me {
    background-color: var(--gray1);
    color: var(--white);
    font-weight: 600;
    text-align: center;
}

.about-me h4 {
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
}

#about-me-pic {
    width: 350px;
    height: 363.917px;
}

p {
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    font-weight: 400;
    line-height: 2;
}

/*contact info section styles*/

.contact-info { 
    background-color: var(--white2);
    color: var(--black);
    text-align: center;
}

.contact-info h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
   
}

.contact-links a {
    color: var(--black);
    font-size: 15px;
}

/*rule for multiple section headers*/

.contact-info, .portfolio h4 {
    font-size: 20px;
    font-weight: 600;
}

/*logos above contact links*/

.logos {
    width: 20px;
    height: 20px;
}

.logo-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*handle multiple screen sizes*/

/*sidebar at 993px*/
@media screen and (min-width: 993px) {
    .hideNav {
        display: none !important;
       }
    
}
/*sidebar at 768px*/
@media screen and (max-width: 993px) {
   .sidebar {
    display: none !important;
   }
   .content {
    margin-left: 0;
 }
    .name {
        display: inline-block;
        width: 100%;
    }
}